---
layout: default
title: Publications
permalink: /publications/
---

<h1>Publications</h1>

<h2>Journal Articles</h2>
{% assign journal_pubs = site.publications | where: "type", "Journal" %}
{% if journal_pubs.size > 0 %}
  <ul>
  {% for pub in journal_pubs %}
    <li>
      <strong>{{ pub.title }}</strong><br/>
      {{ pub.authors }}<br/>
      <em>{{ pub.venue }}</em>, {{ pub.date | date: "%Y" }}
      {% if pub.paperurl %}
        <a href="{{ pub.paperurl }}" target="_blank">[PDF]</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No journal articles listed.</p>
{% endif %}

<h2>Conference Papers</h2>
{% assign conf_pubs = site.publications | where: "type", "Conference" %}
{% if conf_pubs.size > 0 %}
  <ul>
  {% for pub in conf_pubs %}
    <li>
      <strong>{{ pub.title }}</strong><br/>
      {{ pub.authors }}<br/>
      <em>{{ pub.venue }}</em>, {{ pub.date | date: "%Y" }}
      {% if pub.paperurl %}
        <a href="{{ pub.paperurl }}" target="_blank">[PDF]</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No conference papers listed.</p>
{% endif %}

<h2>Datasets</h2>
{% assign dataset_pubs = site.publications | where: "type", "Dataset" %}
{% if dataset_pubs.size > 0 %}
  <ul>
  {% for pub in dataset_pubs %}
    <li>
      <strong>{{ pub.title }}</strong><br/>
      {{ pub.authors }}<br/>
      <em>{{ pub.venue }}</em>, {{ pub.date | date: "%Y" }}
      {% if pub.paperurl %}
        <a href="{{ pub.paperurl }}" target="_blank">[Link]</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No datasets listed.</p>
{% endif %}
